// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin einmaleins-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .fehlermeldung {
    // Use mat-color to extract individual colors a palette.
    color: mat-color($accent);
  }
}
