/* You can add global styles to this file, and also import other style files */

// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Das Standard-Theme purple-green wird manuell erzeugt, um später auf die Farben zugreifen zu können.
$primary: mat-palette($mat-purple, 700, 500, 800);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

// Das oben gewählte Theme wird auf die eigenen CSS-Klassen der Komponente einmaleins angewendet
@import 'app/einmaleins/einmaleins.component.theme';
@include einmaleins-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
